{% extends "base.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>  Login and Signup Form </title>
          <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

        <!-- CSS -->
        <link rel="stylesheet" href="css/style.css">
                
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

        <style type="text/css">
            /* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

        </style>
                        
    </head>
    <body>
        <section class="container forms">
            

            <!-- Signup Form -->

            <div class="form signup">
                <div class="form-content">
                    <header>Signup Here</header>
                    <form action="{% url 'signup' %}" method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        {% comment %} <div class="field input-field">
                            <input type="text" name="username" placeholder="Username" class="input" required>
                        </div>

                        <div class="field input-field">
                            <input type="email" name="email" placeholder="Email" class="input" required>
                        </div>

                        <div class="field input-field">
                            <input type="text" name="first_name" placeholder="first_name" class="input" required>
                        </div>

                        <div class="field input-field">
                            <input type="text" name="last_name" placeholder="last_name" class="input" required>
                        </div>

                        <div class="field input-field">
                            <input type="text" name="phone" placeholder="phone" class="input" required>
                        </div>

                       

                        <div class="field input-field">
                            <input type="password" name="password" placeholder="Create password" class="password" required>
                        </div>

                        <div class="field input-field">
                            <input type="password" name="password2" placeholder="Confirm password" class="password" required>
                            <i class='bx bx-hide eye-icon'></i>
                        </div> {% endcomment %}

                        <div class="field button-field">
                            <button>Signup</button>
                        </div>
                    </form>

                    <div class="form-link">
                        <span>Already have an account? <a href="" class="link login-link">Login</a></span>
                    </div>
                </div>

                <div class="line"></div>

                <div class="media-options">
                    <a href="#" class="field facebook">
                         <i class='fa fa-facebook'></i>
                        <span>Login with Facebook</span>
                    </a>
                </div>

                <div class="media-options">
                    <a href="#" class="field google">
                       <img src="{% static 'DimosoApp/assets/img/google.png' %}" alt="" class="google-img">
                        <span>Login with Google</span>
                    </a>
                </div>

            </div>
        </section>


        

        <!-- JavaScript -->
        <script>
            const forms = document.querySelector(".forms"),
      pwShowHide = document.querySelectorAll(".eye-icon"),
      links = document.querySelectorAll(".link");

pwShowHide.forEach(eyeIcon => {
    eyeIcon.addEventListener("click", () => {
        let pwFields = eyeIcon.parentElement.parentElement.querySelectorAll(".password");
        
        pwFields.forEach(password => {
            if(password.type === "password"){
                password.type = "text";
                eyeIcon.classList.replace("bx-hide", "bx-show");
                return;
            }
            password.type = "password";
            eyeIcon.classList.replace("bx-show", "bx-hide");
        })
        
    })
})      

links.forEach(link => {
    link.addEventListener("click", e => {
       e.preventDefault(); //preventing form submit
       forms.classList.toggle("show-signup");
    })
})
            

        </script>
    </body>
</html>

{% endblock %}


